:root {
    --primary-color: #413F50;
    --secondary-color: #545261;
    --tertiary-color: #EEEEEE;
    --main-menu-bar-height: 56px;
    --event-card-height: 360px;
    --tags-filter-button-width: 150px;
    --main-navigation-bar-height: 71px;
    --local-navigation-bar-height: 61px;
}

* {
    font-family: 'Muli', sans-serif;
}

.classWhiteBackgroundColor {
    background-color: #FFFFFF;
}

.classPrimaryBackgroundColor {
    background-color: var(--primary-color);
}

.classSecondaryBackgroundColor {
    background-color: var(--secondary-color);
}

.classTertiaryBackgroundColor {
    background-color: var(--tertiary-color);
}

.classSecondaryColor {
    color: var(--secondary-color);
}

.btn {
    text-transform: none;
}

.invisible {
    height: 0 !important;
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.classRoundNavigationLink {
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-radius: 2rem;
}

.classOnlyBottomBorderInput {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.classTagsList span, .classTagsList span:hover, .classTagsList span:active, .classTagsList span:visited {
    padding: 5px 10px !important;
    border-radius: 2rem;
    box-shadow: none;
    cursor: inherit !important;
}

.classDescriptionContainer .classDescriptionParagraph.collapse {
    display: block;
    height: 100px;
    overflow: hidden;
}

.classDescriptionContainer .classDescriptionParagraph.collapsing {
    height: 100px;
}

.classDescriptionContainer .classDescriptionParagraph.collapse.show {
    height: auto;
}

.classShowHideDescriptionButton {
    border-radius: 2rem;
}

.classEventsPerDateEventContainer .card {
    height: var(--event-card-height);
    max-height: var(--event-card-height);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.card .classEventPrice span {
    background-color: rgba(0, 0, 0, 0.65) !important;
}

.card .classEventsPerDateCardBody {
    position: absolute;
    top: calc(var(--event-card-height) - 148px);
    background-color: rgba(0, 0, 0, 0.65) !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.classRoundedTopRightFloatingButton {
    position: fixed;
    top: 70px;
    right: 20px;
    padding: 5px 0 0 0;
    width: 55px;
    height: 55px;
    border-radius: 2rem;
    z-index: 1000;
}

.classRoundedBottomRightFloatingButton {
    position: fixed;
    bottom: 70px;
    right: 20px;
    padding: 5px 0 0 0;
    width: 55px;
    height: 55px;
    border-radius: 2rem;
    z-index: 1000;
}

.classFloatingBottomButton {
    position: fixed;
    bottom: 0;
    right: 0.5%;
    width: 97% !important;
    z-index: 2000;
}

.classFloatingFilterButtonWrap {
    position: fixed;
    bottom: 10px;
    right: calc((100vw - var(--tags-filter-button-width))/2);
    /*width: var(--tags-filter-button-width) !important;
    height: 100px;*/
    border-radius: 5rem;
    background: linear-gradient(-45deg, #6EFA86, #EEF0F0, #3BEFF4);
    background-size: 400% 400%;
    animation: Gradient 1.5s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.classFloatingFilterButtonWrap .classFloatingFilterButton {
    font-size: 125%;
    width: var(--tags-filter-button-width) !important;
    border-radius: 5rem;
}

#idFilterTagsModal .modal-content {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

#idFilterTagsModal .classFilterTagButton {
    border: 2px solid !important;
    border-radius: 0.5rem;
}

#idFilterTagsModal .classFilterTagButton[disabled] {
    background-color: rgba(0, 0, 0, 0) !important;
}

#idFilterTagsModal .classFilterTagButton:not([disabled]) {
    color: #2e2e2e !important;
    background-color: white !important;
}

#idEventsWeekCalendarContainerInLocal {
    top: calc(var(--main-menu-bar-height) + var(--local-navigation-bar-height));
}

#idEventsWeekCalendarNavigationBar a {
    color: black;
    text-decoration: none;
}

#idEventsWeekCalendarNavigationBar a.active {
    color: white;
    background: #1d2124;
    border-radius: 2rem;
}

#idEventsWeekCalendarContainerInAllEvents {
    top: calc(var(--main-menu-bar-height) - 2px);
}

#idEventsMain {
    margin-top: 40px;
    padding-bottom: 40px;
}

#idEventsMain .card:hover {
    cursor: pointer;
}

/* Please keep this margin and do not try to perform with my-* Bootstrap classes */

#idEventInfoHeaderImage {
    margin-top: var(--main-menu-bar-height);
    height: 365px;
    max-height: 365px;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: cover;
}

#idEventInfoMapContainer {
    height: 150px;
}

#idEventInfoRecommendationContainer #idEventInfoViewSocialButtonsList a {
    border-radius: 10rem;
}

#idEventInfoFooterImage {
    height: 240px;
    max-height: 240px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#idLoginMain, #idAdminProfileContainer, #idEditEventPictureContainer {
    margin-top: var(--main-menu-bar-height);
}

#idLoginForm {
    width: 300px;
    max-width: 300px;
}

#idLoginForm button {
    width: 230px;
    max-width: 230px;
}

#idEditEventPictureContainer #idEditEventPictureButton {
    padding: 10px;
    border-radius: 2rem;
}

#idCreateEventMain #idCreateEventForm #idAddTagsButton {
    padding: 5px 10px;
    border-radius: 2rem;
}

/* Material Design - Date & Time Picker */

#idMddtpPickerWrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2001;
    display: none;
}

#mddtp-time__header {
    width: inherit;
}