<!-- Button to activate modal window for categories filter -->
<div class="classFloatingFilterButtonWrap">
    <button type="button"
        class="btn classSecondaryBackgroundColor text-white waves-effect waves-light classFloatingFilterButton"
        data-toggle="modal" data-target="#idFilterCategoriesModal" data-backdrop="false" title="Filtro de categorías"
        aria-label="Filtro de categorías">
        FILTROS
    </button>
</div>
<!-- Modal window for categories filter -->
<div class="modal fade" id="idFilterCategoriesModal" tabindex="-1" role="dialog"
    aria-labelledby="idFilterCategoriesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close text-white ml-0 mr-auto" data-dismiss="modal" aria-label="Cerrar">
                    <i class="fas fa-arrow-left fa-xs" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center" aria-label="Filtro de categorías">
                    <div class="col-8 col-sm-6">
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton"
                            onclick="toggleFilterButton(this)">Música en directo</span>
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton"
                            onclick="toggleFilterButton(this)" disabled>Pubs</span>
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton"
                            onclick="toggleFilterButton(this)">Discotecas</span>
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton"
                            onclick="toggleFilterButton(this)">Bares de tapas</span>
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton"
                            onclick="toggleFilterButton(this)">Flamenco</span>
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton"
                            onclick="toggleFilterButton(this)" disabled>Pop</span>
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton"
                            onclick="toggleFilterButton(this)">Rock</span>
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton"
                            onclick="toggleFilterButton(this)" disabled>Indie</span>
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton"
                            onclick="toggleFilterButton(this)" disabled>Electrónica</span>
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton"
                            onclick="toggleFilterButton(this)" disabled>Techno</span>
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton"
                            onclick="toggleFilterButton(this)" disabled>Hip Hop</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-top-0">
                <button type="button"
                    class="btn btn-lg classSecondaryBackgroundColor text-white waves-effect w-100">GUARDAR
                    CAMBIOS</button>
            </div>
        </div>
    </div>
</div>