<div class="d-flex justify-content-center classSecondaryBackgroundColor sticky-top mt-2 py-2" id="idEventsWeekCalendar">
    <div>
        <ul class="nav nav-pills text-white-50" id="idEventsWeekCalendarNavigationBar">
            <li class="nav-item">
                <div class="col">
                    <div class="row px-2 px-md-3 px-lg-5 px-xl-5" title="Lunes" aria-label="Lunes">
                        L
                    </div>
                    <div class="row"><a class="nav-link text-white px-2 px-md-3 px-lg-5 px-xl-5 py-1"
                            href="#idEventsOnMonday"></a></div>
                </div>
            </li>
            <li class="nav-item">
                <div class="col">
                    <div class="row px-2 px-md-3 px-lg-5 px-xl-5" title="Martes" aria-label="Martes">
                        M
                    </div>
                    <div class="row"><a class="nav-link text-white px-2 px-md-3 px-lg-5 px-xl-5 py-1"
                            href="#idEventsOnTuesday"></a></div>
                </div>
            </li>
            <li class="nav-item">
                <div class="col">
                    <div class="row px-2 px-md-3 px-lg-5 px-xl-5" title="Miércoles" aria-label="Miércoles">
                        X
                    </div>
                    <div class="row"><a class="nav-link text-white px-2 px-md-3 px-lg-5 px-xl-5 py-1"
                            href="#idEventsOnWednesday"></a></div>
                </div>
            </li>
            <li class="nav-item">
                <div class="col">
                    <div class="row px-2 px-md-3 px-lg-5 px-xl-5" title="Jueves" aria-label="Jueves">
                        J
                    </div>
                    <div class="row"><a class="nav-link text-white px-2 px-md-3 px-lg-5 px-xl-5 py-1"
                            href="#idEventsOnThursday"></a></div>
                </div>
            </li>
            <li class="nav-item">
                <div class="col">
                    <div class="row px-2 px-md-3 px-lg-5 px-xl-5" title="Viernes" aria-label="Viernes">
                        V
                    </div>
                    <div class="row"><a class="nav-link text-white px-2 px-md-3 px-lg-5 px-xl-5 py-1"
                            href="#idEventsOnFriday"></a></div>
                </div>
            </li>
            <li class="nav-item">
                <div class="col">
                    <div class="row px-2 px-md-3 px-lg-5 px-xl-5" title="Sábado" aria-label="Sábado">
                        S
                    </div>
                    <div class="row"><a class="nav-link text-white px-2 px-md-3 px-lg-5 px-xl-5 py-1"
                            href="#idEventsOnSaturday"></a></div>
                </div>
            </li>
            <li class="nav-item">
                <div class="col">
                    <div class="row px-2 px-md-3 px-lg-5 px-xl-5" title="Domingo" aria-label="Domingo">
                        D
                    </div>
                    <div class="row"><a class="nav-link text-white px-2 px-md-3 px-lg-5 px-xl-5 py-1"
                            href="#idEventsOnSunday"></a></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="ml-2 text-white">
        <a class="nav-link" id="idEventsWeekCalendarButton">
            <i class="far fa-calendar fa-2x"></i>
        </a>
    </div>
</div>
<script>
    fillNumericDaysOfTheMonthRowInEventsWeekCalendarNavigationBar();
    showDatePickerOnHtmlElementClick(HTML_ID_EVENTS_WEEK_CALENDAR_BUTTON);
</script>