.btn {
    text-transform: none;
}

.invisible {
    height: 0 !important;
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.classRoundNavigationLink {
    border-radius: 1rem;
}

#idSearchLocalNavigationBar {
    margin-top: 62px;
}

#idSearchLocalNavigationBar a {
    border-bottom: 5px solid #1d2124;
}

#idSearchLocalNavigationBar a.classSelectedNavigationItem {
    border-bottom: 5px solid !important;
}

/* Please keep this margin and do not try to perform with my-* Bootstrap classes */
#idSearchLocalMain {
    margin-top: 120px;
    margin-bottom: 60px;
}

#idSearchLocalMapContainer {
    margin: 0;
    padding: 0;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-height: 270px) and (max-height: 371.98px) {
    #idSearchLocalMapContainer {
        height: 200px;
    }
}
@media (min-height: 372px) and (max-height: 473.98px) {
    #idSearchLocalMapContainer {
        height: 300px;
    }
}
@media (min-height: 474px) and (max-height: 575.98px) {
    #idSearchLocalMapContainer {
        height: 400px;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-height: 576px) and (max-height: 767.98px) {
    #idSearchLocalMapContainer {
        height: 500px;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-height: 768px) and (max-height: 991.98px) {
    #idSearchLocalMapContainer {
        height: 700px;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-height: 992px) and (max-height: 1199.98px) {
    #idSearchLocalMapContainer {
        height: 900px;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-height: 1200px) {
    #idSearchLocalMapContainer {
        height: 1000px;
    }
}

.classHorizontalListRow {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.classHorizontalListCol {
    flex: 0 0 auto;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .classHorizontalLocalsList .card-body {
        min-height: 150px;
    }
}
@media screen and (min-width: 720px) {
    .classHorizontalLocalsList .card-body {
        min-height: 195px;
    }
}

.classFloatingButton {
    position: fixed;
    padding: 15px 0 0 0;
	width: 55px;
	height: 55px;
	bottom: 70px;
    right: 20px;
    border-radius: 2rem;
    z-index: 1000;
}

#filterCategoriesModal .filterOfferButton, #filterCategoriesModal .filterEventButton,
#filterCategoriesModal .filterCategorieButton {
    border: 2px solid !important;
}

#filterCategoriesModal .filterCategorieButton:not([disabled]) {
    color: #2e2e2e !important;
    background-color: white !important;
}

#idLocalHeaderImage {
    max-height: 300px;
}

#idLocalViewCategoriesList div span {
    border-radius: 2rem;
    cursor: auto;
}

#idLocalNameInDescription {
    font-size: 120%;
}

#idLocalNavigationBar a {
    border-bottom: 5px solid #e0e0e0;
}

#idLocalNavigationBar a.classSelectedNavigationItem {
    border-bottom: 5px solid !important;
}

#idLocalMapContainer {
    height: 300px;
}

#idLocalRecommendationContainer > img {
    max-height: 300px;
}

footer {
    min-height: 56px;
}