.btn {
    text-transform: none;
}

.invisible {
    height: 0 !important;
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.classRoundNavigationLink {
    border-radius: 1rem;
}

#idMainNavigationBar {
    margin-top: 62px;
}

#idMainNavigationBar a {
    border-bottom: 5px solid #1d2124;
}

#idMainNavigationBar a.classSelectedNavigationItem {
    border-bottom: 5px solid !important;
}

main {
    padding-top: 10px;    
    padding-bottom: 10px;
}

.classHorizontalListContainer {
    padding-top: 15px;
    padding-bottom: 15px;
}

.classHorizontalListRow {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 5px;
}

.classHorizontalListCol {
    flex: 0 0 auto;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .classHorizontalLocalsList .card-body {
        min-height: 150px;
    }
}

@media screen and (min-width: 720px) {
    .classHorizontalLocalsList .card-body {
        min-height: 195px;
    }
}

.classFloatingButton {
    position: fixed;
    padding: 15px 0 0 0;
	width: 55px;
	height: 55px;
	bottom: 20px;
    right: 20px;
    border-radius: 2rem;
    z-index: 1;
}

#filterCategoriesModal .filterOfferButton, #filterCategoriesModal .filterEventButton,
#filterCategoriesModal .filterCategorieButton {
    border: 2px solid !important;
}

#filterCategoriesModal .filterCategorieButton:not([disabled]) {
    color: #2e2e2e !important;
    background-color: white !important;
}

#idLocalMenuBar {
    margin-top: 52px;
}

#idLocalHeader > img {
    max-height: 300px;
}

#idLocalViewCategoriesList {
    margin-top: 30px;
    margin-bottom: 30px;
}

#idLocalViewCategoriesList div span {
    border-radius: 2rem;
    cursor: auto;
}

#idLocalNameInDescription {
    font-size: 120%;
}

#idLocalNavigationBar a {
    border-bottom: 5px solid #e0e0e0;
}

#idLocalNavigationBar a.classSelectedNavigationItem {
    border-bottom: 5px solid !important;
}

footer {
    min-height: 56px;
    margin: 0;
}