<div class="row justify-content-start my-4 classCategoriesList" aria-label="Categorías de Lemon Rock">
    <span class="btn btn-elegant" disabled>En directo</span>
    <span class="btn btn-elegant" disabled>Jazz</span>
    <span class="btn btn-elegant" disabled>Rock</span>
    <span class="btn btn-elegant" disabled>Terraza</span>
    <span class="btn btn-elegant" disabled>Tapas</span>
    <span class="btn btn-elegant" disabled>Restaurante</span>
</div>
<div class="classDescriptionContainer" id="idLocalDescriptionContainer" 
aria-label="Descripción de Lemon Rock">
    <p class="collapse classDescriptionParagraph" id="idLocalDescriptionParagraph" 
    aria-expanded="false">
        <span class="font-weight-bold" id="idLocalNameInDescription">Lemon Rock</span> es un hostal situado en el centro de
        Granada conocido por su ambiente relajado y sus conciertos en directo. Cada semana vienen 4 o 5 grupos a tocar
        música variada. LemonRock Bar & Hostel es un premium Hostel, alojamiento tipo backpackers vinculado con un bar y
        restaurante dentro del mismo edificio. Situado en el centro de Granada.
        El Hostel cuenta con 73 plazas de alojamiento y amplias zonas comunes, las cuales son también zona de
        bar-restaurante en las que se juntarán turistas y grupos de amigos que se alojen allí como gente de Granada.
        También dispone de dos terrazas chill out en el torreón muy soleadas. Todas las habitaciones tienen baño privado
        con bastante número de duchas y cada cliente tiene una taquilla privada y la cama tiene un cabecero con enchufe
        individual y luz de lectura. Todos los detalles están pensados para la comodidad de nuestros clientes. Está
        enfocado para gente joven tanto extranjeros como nacionales que visiten Granada y que quieren alojarse en un sitio
        en el centro de Granada, junto a la facultad de derecho, turismo y traductores.El Bar situado en la planta baja nos
        ofrece una cocina renovada basada en platos tradicionales para servirte el concepto de Lemon Rock Bar & Hostel en
        tu paladar.
    </p>
    <div class="d-flex justify-content-center">
        <button class="collapsed btn btn-mdb-color btn-sm waves-effect waves-light px-2 py-1 
        classShowHideDescriptionButton" type="button" data-toggle="collapse" 
        href="#idLocalDescriptionParagraph" aria-expanded="false" 
        aria-controls="idLocalDescriptionParagraph" title="Ver descripción" aria-label="Ver descripción" 
        onclick="toggleShowAndHideDescriptionButtons('idLocalDescriptionContainer')">
            <i class="fas fa-chevron-down"></i>
        </button>
        <button class="collapsed btn btn-mdb-color btn-sm waves-effect waves-light px-2 py-1 
        classShowHideDescriptionButton invisible" type="button" data-toggle="collapse" 
        href="#idLocalDescriptionParagraph" aria-expanded="false" 
        aria-controls="idLocalDescriptionParagraph" title="Ocultar descripción" aria-label="Ocultar descripción" 
        onclick="toggleShowAndHideDescriptionButtons('idLocalDescriptionContainer')">
            <i class="fas fa-chevron-up"></i>
        </button>
    </div>
</div>
<div aria-label="Precios de Lemon Rock">
    <h5 class="font-weight-bold">Precios</h5>
    <p>Entrada: gratuita</p>
    <p>Copa: 6 - 8 €</p>
    <p>Cerveza: 2,40 €</p>
    <p>Chupito: 1,50 €</p>
</div>
<div class="mt-5" aria-label="Ubicación de Lemon Rock">
    <h5 class="font-weight-bold">Ubicación</h5>
    <div id="idLocalMapContainer"></div>
</div>
<div class="mt-5" id="idLocalRecommendationContainer" aria-label="Recomienda Lemon Rock">
    <h5 class="font-weight-bold">Recomienda Lemon Rock a tus amigos</h5>
    <div class="row w-100 justify-content-around" id="idLocalViewSocialButtonsList">
        <a class="btn white text-black waves-effect px-3 border-0 z-depth-0" 
        title="Compartir en WhatsApp" aria-label="WhatsApp">
            <i class="fab fa-whatsapp fa-3x"></i>
        </a>
        <a class="btn btn-elegant waves-effect waves-light mx-4 my-3 px-3 py-2" 
        title="Compartir en Facebook" aria-label="Facebook">
            <i class="fab fa-facebook-f fa-2x"></i>
        </a>
        <a class="btn text-black waves-effect px-3 border-0 z-depth-0 waves-effect" 
        title="Compartir en Messenger" aria-label="Messenger">
            <i class="fab fa-facebook-messenger fa-3x"></i>
        </a>
        <a class="btn text-black waves-effect px-3 border-0 z-depth-0 waves-effect" 
        title="Compartir en Instagram" aria-label="Instagram">
            <i class="fab fa-instagram fa-3x"></i>
        </a>
    </div>
    <img class="img-fluid w-100" src="./assets/images/local-lemon-rock.jpg" alt="Imagen de Lemon Rock"
    aria-label="Imagen de Lemon Rock">
</div>
<a class="btn btn-lg btn-default waves-effect w-100 classFloatingBottomButton" title="Ver ofertas" 
aria-label="Ver ofertas" onclick="loadOffersView(OFFERS_VIEW_VARIATION.LOCAL_OFFERS,
LOCAL_NAVIGATION_BAR_INDEX.INFO)">
VER OFERTAS</a>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcNyXtpE6iOxla32ptV-6SvCcANAmxM50&callback=loadLocalDataInGoogleMapsApi" 
async defer></script> -->
<script>
    loadLocalDataInLeafletApi("Lemon Rock",37.1770273,-3.6045047,17);
    removeHtmlNodeContentById(HTML_ID_EVENTS_WEEK_CALENDAR_CONTAINER_IN_LOCAL);
</script>