<nav class="navbar navbar-expand fixed-top navbar-dark bg-dark text-white"
id="idUserProfileHelpFaqsMenuBar">
    <ul class="navbar-nav w-100 justify-content-between">
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light classRoundNavigationLink" title="Volver atrás" 
            aria-label="Volver atrás" onclick="loadUserProfileHelpSubview()">
                <i class="fas fa-arrow-left fa-sm"></i>
            </a>
        </li>
        <li class="nav-item pt-2"><h5>Preguntas frecuentes</h5></li>
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light classRoundNavigationLink" 
            title="Más acciones" aria-label="Más acciones">
                <i class="fas fa-ellipsis-v fa-sm"></i>
            </a>
        </li>
    </ul>
</nav>
<div class="container-fluid" id="idUserProfileHelpFaqsMain">
    <div class="accordion" id="idFaqsCategorie1Container">
        <div class="card">
            <div class="card-header" id="idFaqsCategorie1Header">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" 
                    data-target="#idFaqsCategorie1Body" aria-expanded="false" 
                    aria-controls="idFaqsCategorie1Body">
                        Categoría 1
                    </button>
                </h5>
            </div>
            <div id="idFaqsCategorie1Body" class="collapse" 
            aria-labelledby="idFaqsCategorie1Header" data-parent="#idFaqsCategorie1Container">
                <div class="card-body">
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 1</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 2</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 3</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 4</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 5</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 6</p></a>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="idFaqsCategorie2Container">
        <div class="card">
            <div class="card-header" id="idFaqsCategorie2Header">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" 
                    data-target="#idFaqsCategorie2Body" aria-expanded="false" 
                    aria-controls="idFaqsCategorie2Body">
                        Categoría 2
                    </button>
                </h5>
            </div>
            <div id="idFaqsCategorie2Body" class="collapse" 
            aria-labelledby="idFaqsCategorie2Header" data-parent="#idFaqsCategorie2Container">
                <div class="card-body">
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 1</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 2</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 3</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 4</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 5</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 6</p></a>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="idFaqsCategorie3Container">
        <div class="card">
            <div class="card-header" id="idFaqsCategorie3Header">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" 
                    data-target="#idFaqsCategorie3Body" aria-expanded="false" 
                    aria-controls="idFaqsCategorie3Body">
                        Categoría 3
                    </button>
                </h5>
            </div>
            <div id="idFaqsCategorie3Body" class="collapse" 
            aria-labelledby="idFaqsCategorie3Header" data-parent="#idFaqsCategorie3Container">
                <div class="card-body">
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 1</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 2</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 3</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 4</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 5</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 6</p></a>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="idFaqsCategorie4Container">
        <div class="card">
            <div class="card-header" id="idFaqsCategorie4Header">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" 
                    data-target="#idFaqsCategorie4Body" aria-expanded="false" 
                    aria-controls="idFaqsCategorie4Body">
                        Categoría 4
                    </button>
                </h5>
            </div>
            <div id="idFaqsCategorie4Body" class="collapse" 
            aria-labelledby="idFaqsCategorie4Header" data-parent="#idFaqsCategorie4Container">
                <div class="card-body">
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 1</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 2</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 3</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 4</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 5</p></a>
                    <a onclick="loadUserProfileFaqAnswerSubview()"><p>Pregunta 6</p></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    hideMainMenuBar();
    hideMainNavigationBar();
</script>