<div class="d-flex justify-content-center border-bottom bg-white sticky-top mt-2 py-2" 
id="idEventsWeekCalendar">
    <div>
        <ul class="nav nav-pills" id="idEventsWeekCalendarNavigationBar">
            <li class="nav-item">
                <div class="col">
                    <div class="row px-2 px-md-3 px-lg-5 px-xl-5" title="Lunes" aria-label="Lunes">
                        L
                    </div>
                    <div class="row"><a class="nav-link px-2 px-md-3 px-lg-5 px-xl-5 py-1" 
                    href="#idLocalEventsOnMonday"></a></div>
                </div>
            </li>
            <li class="nav-item">
                <div class="col">
                    <div class="row px-2 px-md-3 px-lg-5 px-xl-5" title="Martes" aria-label="Martes">
                        M
                    </div>
                    <div class="row"><a class="nav-link px-2 px-md-3 px-lg-5 px-xl-5 py-1" 
                    href="#idLocalEventsOnTuesday"></a></div>
                </div>
            </li>
            <li class="nav-item">
                <div class="col">
                    <div class="row px-2 px-md-3 px-lg-5 px-xl-5" title="Miércoles" 
                    aria-label="Miércoles">
                        X
                    </div>
                    <div class="row"><a class="nav-link px-2 px-md-3 px-lg-5 px-xl-5 py-1" 
                    href="#idLocalEventsOnWednesday"></a></div>
                </div>
            </li>
            <li class="nav-item">
                <div class="col">
                    <div class="row px-2 px-md-3 px-lg-5 px-xl-5" title="Jueves" aria-label="Jueves">
                        J
                    </div>
                    <div class="row"><a class="nav-link px-2 px-md-3 px-lg-5 px-xl-5 py-1" 
                    href="#idLocalEventsOnThursday"></a></div>
                </div>
            </li>
            <li class="nav-item">
                <div class="col">
                    <div class="row px-2 px-md-3 px-lg-5 px-xl-5" title="Viernes" aria-label="Viernes">
                        V
                    </div>
                    <div class="row"><a class="nav-link px-2 px-md-3 px-lg-5 px-xl-5 py-1" 
                    href="#idLocalEventsOnFriday"></a></div>
                </div>
            </li>
            <li class="nav-item">
                <div class="col">
                    <div class="row px-2 px-md-3 px-lg-5 px-xl-5" title="Sábado" aria-label="Sábado">
                        S
                    </div>
                    <div class="row"><a class="nav-link px-2 px-md-3 px-lg-5 px-xl-5 py-1" 
                    href="#idLocalEventsOnSaturday"></a></div>
                </div>
            </li>
            <li class="nav-item">
                <div class="col">
                    <div class="row px-2 px-md-3 px-lg-5 px-xl-5" title="Domingo" aria-label="Domingo">
                        D
                    </div>
                    <div class="row"><a class="nav-link px-2 px-md-3 px-lg-5 px-xl-5 py-1" 
                    href="#idLocalEventsOnSunday"></a></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="ml-4">
        <i class="far fa-calendar fa-3x"></i>
    </div>
</div>
<script>
    fillNumericDaysOfTheMonthRowInEventsWeekCalendarNavigationBar();
</script>