<div class="py-2 classHorizontalLocalsList">
    <h4>En directo</h4>
    <div class="row classHorizontalListRow">
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top" src="./assets/images/disco.jpg" 
                alt="Imagen de local" aria-label="Imagen de local">
                <div class="card-body">
                    <h5 class="card-title">Nombre de local</h5>
                    <p class="card-subtitle mb-2 text-muted">Próximo evento si hay</p>
                    <div class="card-subtitle row justify-content-start classCategoriesList 
                    classCategoriesListInCardBody" aria-label="Categorías de Local">
                        <span class="btn btn-sm btn-elegant" disabled>Categorías</span>
                        <span class="btn btn-sm btn-elegant" disabled>Del</span>
                        <span class="btn btn-sm btn-elegant" disabled>Local</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top" src="./assets/images/local-lemon-rock.jpg" 
                alt="Imagen de Lemon Rock" aria-label="Imagen de Lemon Rock">
                <div class="card-body">
                    <h5 class="card-title">Lemon Rock</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Guillermo Crovetto</p>
                    <div class="card-subtitle row justify-content-start classCategoriesList 
                    classCategoriesListInCardBody" aria-label="Categorías de Lemon Rock">
                        <span class="btn btn-sm btn-elegant" disabled>En directo</span>
                        <span class="btn btn-sm btn-elegant" disabled>Pop</span>
                        <span class="btn btn-sm btn-elegant" disabled>Rock</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top" src="./assets/images/local-planta-baja.jpg" 
                alt="Imagen de Plantabaja" aria-label="Imagen de Plantabaja">
                <div class="card-body">
                    <h5 class="card-title">Plantabaja</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Sound Bay</p>
                    <div class="card-subtitle row justify-content-start classCategoriesList 
                    classCategoriesListInCardBody" aria-label="Categorías de Plantabaja">
                        <span class="btn btn-sm btn-elegant" disabled>En directo</span>
                        <span class="btn btn-sm btn-elegant" disabled>DJ</span>
                        <span class="btn btn-sm btn-elegant" disabled>Indie</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top" src="./assets/images/local-boogaclub.jpg" 
                alt="Imagen de Boogaclub" aria-label="Imagen de Boogaclub">
                <div class="card-body">
                    <h5 class="card-title">Boogaclub</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Javi Morillas</p>
                    <div class="card-subtitle row justify-content-start classCategoriesList 
                    classCategoriesListInCardBody" aria-label="Categorías de Boogaclub">
                        <span class="btn btn-sm btn-elegant" disabled>En directo</span>
                        <span class="btn btn-sm btn-elegant" disabled>Funk</span>
                        <span class="btn btn-sm btn-elegant" disabled>Groove</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top" src="./assets/images/local-la-tertulia.jpg" 
                alt="Imagen de La Tertulia" aria-label="Imagen de La Tertulia">
                <div class="card-body">
                    <h5 class="card-title">La Tertulia</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Fran Triguero</p>
                    <div class="card-subtitle row justify-content-start classCategoriesList 
                    classCategoriesListInCardBody" aria-label="Categorías de La Tertulia">
                        <span class="btn btn-sm btn-elegant" disabled>En directo</span>
                        <span class="btn btn-sm btn-elegant" disabled>Arte</span>
                        <span class="btn btn-sm btn-elegant" disabled>Bar</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-2 classHorizontalLocalsList">
    <h4>Rock</h4>
    <div class="row classHorizontalListRow">
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top" src="./assets/images/local-industrial-copera.jpg" 
                alt="Imagen de Industrial Copera" aria-label="Imagen de Industrial Copera">
                <div class="card-body">
                    <h5 class="card-title">Industrial Copera</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Closing Party</p>
                    <div class="card-subtitle row justify-content-start classCategoriesList 
                    classCategoriesListInCardBody" aria-label="Categorías de Industrial Copera">
                        <span class="btn btn-sm btn-elegant" disabled>Rock</span>
                        <span class="btn btn-sm btn-elegant" disabled>Discoteca</span>
                        <span class="btn btn-sm btn-elegant" disabled>Pop</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top" src="./assets/images/local-lemon-rock.jpg" 
                alt="Imagen de Lemon Rock" aria-label="Imagen de Lemon Rock">
                <div class="card-body">
                    <h5 class="card-title">Lemon Rock</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Guillermo Crovetto</p>
                    <div class="card-subtitle row justify-content-start classCategoriesList 
                    classCategoriesListInCardBody" aria-label="Categorías de Lemon Rock">
                        <span class="btn btn-sm btn-elegant" disabled>Rock</span>
                        <span class="btn btn-sm btn-elegant" disabled>En directo</span>
                        <span class="btn btn-sm btn-elegant" disabled>Pop</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top" src="./assets/images/local-perro-andaluz.jpg" 
                alt="Imagen de Perro Andaluz" aria-label="Imagen de Perro Andaluz">
                <div class="card-body">
                    <h5 class="card-title">Perro Andaluz</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Torneo Futbolín</p>
                    <div class="card-subtitle row justify-content-start classCategoriesList 
                    classCategoriesListInCardBody" aria-label="Categorías de Perro Andaluz">
                        <span class="btn btn-sm btn-elegant" disabled>Rock</span>
                        <span class="btn btn-sm btn-elegant" disabled>Heavy</span>
                        <span class="btn btn-sm btn-elegant" disabled>Pub</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top" src="./assets/images/local-la-rocka.jpg" 
                alt="Imagen de La Rocka" aria-label="Imagen de La Rocka">
                <div class="card-body">
                    <h5 class="card-title">La Rocka</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Fiesta Dark</p>
                    <div class="card-subtitle row justify-content-start classCategoriesList 
                    classCategoriesListInCardBody" aria-label="Categorías de La Rocka">
                        <span class="btn btn-sm btn-elegant" disabled>Rock</span>
                        <span class="btn btn-sm btn-elegant" disabled>Heavy</span>
                        <span class="btn btn-sm btn-elegant" disabled>Pub</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top" src="./assets/images/local-rocknrolla-club.jpg" 
                alt="Imagen de Rocknrolla Club" aria-label="Imagen de Rocknrolla Club">
                <div class="card-body">
                    <h5 class="card-title">Rocknrolla Club</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Disfruting Rock</p>
                    <div class="card-subtitle row justify-content-start classCategoriesList 
                    classCategoriesListInCardBody" aria-label="Categorías de Rocknrolla Club">
                        <span class="btn btn-sm btn-elegant" disabled>Rock</span>
                        <span class="btn btn-sm btn-elegant" disabled>Underground</span>
                        <span class="btn btn-sm btn-elegant" disabled>Club</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-2 classHorizontalLocalsList">
    <h4>Discoteca</h4>
    <div class="row classHorizontalListRow">
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top" src="./assets/images/local-boom-boom-room.jpg" 
                alt="Imagen de Boom Boom Room" aria-label="Imagen de Boom Boom Room">
                <div class="card-body">
                    <h5 class="card-title">Boom Boom Room</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Wally Lopez</p>
                    <div class="card-subtitle row justify-content-start classCategoriesList 
                    classCategoriesListInCardBody" aria-label="Categorías de Boom Boom Room">
                        <span class="btn btn-sm btn-elegant" disabled>Discoteca</span>
                        <span class="btn btn-sm btn-elegant" disabled>Club</span>
                        <span class="btn btn-sm btn-elegant" disabled>Teatro</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top" src="./assets/images/local-industrial-copera.jpg" 
                alt="Imagen de Industrial Copera" aria-label="Imagen de Industrial Copera">
                <div class="card-body">
                    <h5 class="card-title">Industrial Copera</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Closing Party</p>
                    <div class="card-subtitle row justify-content-start classCategoriesList 
                    classCategoriesListInCardBody" aria-label="Categorías de Industrial Copera">
                        <span class="btn btn-sm btn-elegant" disabled>Discoteca</span>
                        <span class="btn btn-sm btn-elegant" disabled>Rock</span>
                        <span class="btn btn-sm btn-elegant" disabled>Pop</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top" src="./assets/images/local-mae-west.jpg" 
                alt="Imagen de Mae West" aria-label="Imagen de Mae West">
                <div class="card-body">
                    <h5 class="card-title">Mae West</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Albert Neve</p>
                    <div class="card-subtitle row justify-content-start classCategoriesList 
                    classCategoriesListInCardBody" aria-label="Categorías de Mae West">
                        <span class="btn btn-sm btn-elegant" disabled>Discoteca</span>
                        <span class="btn btn-sm btn-elegant" disabled>Club</span>
                        <span class="btn btn-sm btn-elegant" disabled>Teatro</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top" src="./assets/images/local-sala-el-tren.jpg" 
                alt="Imagen de Sala El Tren" aria-label="Imagen de Sala El Tren">
                <div class="card-body">
                    <h5 class="card-title">Sala El Tren</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Ayax</p>
                    <div class="card-subtitle row justify-content-start classCategoriesList 
                    classCategoriesListInCardBody" aria-label="Categorías de Rocknrolla Club">
                        <span class="btn btn-sm btn-elegant" disabled>Discoteca</span>
                        <span class="btn btn-sm btn-elegant" disabled>Rock</span>
                        <span class="btn btn-sm btn-elegant" disabled>En directo</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top" src="./assets/images/local-sala-vogue.jpg" 
                alt="Imagen de Sala Vogue" aria-label="Imagen de Sala Vogue">
                <div class="card-body">
                    <h5 class="card-title">Sala Vogue</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Fruit The Luxe</p>
                    <div class="card-subtitle row justify-content-start classCategoriesList 
                    classCategoriesListInCardBody" aria-label="Categorías de Sala Vogue">
                        <span class="btn btn-sm btn-elegant" disabled>Discoteca</span>
                        <span class="btn btn-sm btn-elegant" disabled>Pop</span>
                        <span class="btn btn-sm btn-elegant" disabled>Indie</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>