<div class="py-3 classHorizontalListContainer classHorizontalLocalsList">
    <h3 class="classHorizontalListTitle">Música en directo</h3>
    <div class="row pb-1 classHorizontalListRow">
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="./assets/images/disco.jpg" 
                alt="Imagen de local" aria-label="Imagen de local">
                <div class="card-body">
                    <h5 class="card-title">Nombre de local</h5>
                    <p class="card-subtitle mb-2 text-muted">Mostrar nombre próximo evento si hay</p>
                    <p class="card-subtitle mb-2 text-muted">Categorías · Del · Local</p>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="./assets/images/local-lemon-rock.jpg" 
                alt="Imagen de Lemon Rock" aria-label="Imagen de Lemon Rock">
                <div class="card-body">
                    <h5 class="card-title">Lemon Rock</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Guillermo Crovetto</p>
                    <p class="card-subtitle mb-2 text-muted">Música en directo · Pop · Rock</p>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="./assets/images/local-planta-baja.jpg" 
                alt="Imagen de Plantabaja" aria-label="Imagen de Plantabaja">
                <div class="card-body">
                    <h5 class="card-title">Plantabaja</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Sound Bay</p>
                    <p class="card-subtitle mb-2 text-muted">Música en directo · DJ · Indie</p>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="./assets/images/local-boogaclub.jpg" 
                alt="Imagen de Boogaclub" aria-label="Imagen de Boogaclub">
                <div class="card-body">
                    <h5 class="card-title">Boogaclub</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Javi Morillas</p>
                    <p class="card-subtitle mb-2 text-muted">Música en directo · Funk · Groove</p>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="./assets/images/local-la-tertulia.jpg" 
                alt="Imagen de La Tertulia" aria-label="Imagen de La Tertulia">
                <div class="card-body">
                    <h5 class="card-title">La Tertulia</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Fran Triguero</p>
                    <p class="card-subtitle mb-2 text-muted">Música en directo · Arte · Bar</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-3 classHorizontalListContainer classHorizontalLocalsList">
    <h3 class="classHorizontalListTitle">Rock</h3>
    <div class="row pb-1 classHorizontalListRow">
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="./assets/images/local-industrial-copera.jpg" 
                alt="Imagen de Industrial Copera" aria-label="Imagen de Industrial Copera">
                <div class="card-body">
                    <h5 class="card-title">Industrial Copera</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Closing Party</p>
                    <p class="card-subtitle mb-2 text-muted">Discoteca · Rock · Pop</p>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="./assets/images/local-lemon-rock.jpg" 
                alt="Imagen de Lemon Rock" aria-label="Imagen de Lemon Rock">
                <div class="card-body">
                    <h5 class="card-title">Lemon Rock</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Guillermo Crovetto</p>
                    <p class="card-subtitle mb-2 text-muted">Rock · Música en directo · Pop</p>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="./assets/images/local-perro-andaluz.jpg" 
                alt="Imagen de Perro Andaluz" aria-label="Imagen de Perro Andaluz">
                <div class="card-body">
                    <h5 class="card-title">Perro Andaluz</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Torneo Futbolín</p>
                    <p class="card-subtitle mb-2 text-muted">Rock · Heavy · Pub</p>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="./assets/images/local-la-rocka.jpg" 
                alt="Imagen de La Rocka" aria-label="Imagen de La Rocka">
                <div class="card-body">
                    <h5 class="card-title">La Rocka</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Fiesta Dark</p>
                    <p class="card-subtitle mb-2 text-muted">Rock · Heavy · Pub</p>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="./assets/images/local-rocknrolla-club.jpg" 
                alt="Imagen de Rocknrolla Club" aria-label="Imagen de Rocknrolla Club">
                <div class="card-body">
                    <h5 class="card-title">Rocknrolla Club</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Disfruting Rock</p>
                    <p class="card-subtitle mb-2 text-muted">Rock · Underground · Club</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-3 classHorizontalListContainer classHorizontalLocalsList">
    <h3 class="classHorizontalListTitle">Discoteca</h3>
    <div class="row pb-1 classHorizontalListRow">
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="./assets/images/local-boom-boom-room.jpg" 
                alt="Imagen de Boom Boom Room" aria-label="Imagen de Boom Boom Room">
                <div class="card-body">
                    <h5 class="card-title">Boom Boom Room</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Wally Lopez</p>
                    <p class="card-subtitle mb-2 text-muted">Discoteca · Club · Teatro</p>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="./assets/images/local-industrial-copera.jpg" 
                alt="Imagen de Industrial Copera" aria-label="Imagen de Industrial Copera">
                <div class="card-body">
                    <h5 class="card-title">Industrial Copera</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Closing Party</p>
                    <p class="card-subtitle mb-2 text-muted">Discoteca · Rock · Pop</p>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="./assets/images/local-mae-west.jpg" 
                alt="Imagen de Mae West" aria-label="Imagen de Mae West">
                <div class="card-body">
                    <h5 class="card-title">Mae West</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Albert Neve</p>
                    <p class="card-subtitle mb-2 text-muted">Discoteca · Club · Teatro</p>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="./assets/images/local-sala-el-tren.jpg" 
                alt="Imagen de Sala El Tren" aria-label="Imagen de Sala El Tren">
                <div class="card-body">
                    <h5 class="card-title">Sala El Tren</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Ayax</p>
                    <p class="card-subtitle mb-2 text-muted">Discoteca · Rock · Música en directo</p>
                </div>
            </div>
        </div>
        <div class="col-8 col-xs-8 col-sm-4 col-md-3 col-lg-2 classHorizontalListCol" 
        onclick="loadLocalView()">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="./assets/images/local-sala-vogue.jpg" 
                alt="Imagen de Sala Vogue" aria-label="Imagen de Sala Vogue">
                <div class="card-body">
                    <h5 class="card-title">Sala Vogue</h5>
                    <p class="card-subtitle mb-2 text-muted">Hoy: Fruit The Luxe</p>
                    <p class="card-subtitle mb-2 text-muted">Discoteca · Pop · Indie</p>
                </div>
            </div>
        </div>
    </div>
</div>