<nav class="navbar navbar-expand fixed-top navbar-dark bg-dark text-white" 
id="idEventsMenuBar">
    <ul class="navbar-nav w-100 justify-content-between">
        <li class="nav-item mx-auto pt-2 pl-3"><h5>Eventos</h5></li>
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light classRoundNavigationLink" 
            title="Más acciones" aria-label="Más acciones">
                <i class="fas fa-ellipsis-v fa-sm"></i>
            </a>
        </li>
    </ul>
</nav>
<div class="sticky-top" id="idEventsWeekCalendarContainerInAllEvents"></div>
<div class="container-fluid" id="idEventsMain">
    <div class="classAllEventsList">
        <h4 class="pt-4 mb-0">Hoy</h4>
        <div class="row">
            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 pt-4 
            classAllEventsEventContainer">
                <div class="card" onclick="loadLocalView(LOCAL_NAVIGATION_BAR_INDEX.EVENTS)">
                    <img class="card-img-top" 
                    src="./assets/images/events-lemon-rock/salir-con-arte.png" 
                    alt="Imagen del evento Salir con Arte" 
                    aria-label="Imagen del evento Salir con Arte">
                    <div class="card-body">
                        <h5 class="card-title">Taller de pintura - Salir con Arte</h5>
                        <p class="card-text">Lemon Rock - 17:00</p>
                        <div class="card-subtitle row justify-content-start classCategoriesList"
                        aria-label="Categorías de Lemon Rock">
                            <span class="btn btn-sm btn-elegant" disabled>Pintura</span>
                            <span class="btn btn-sm btn-elegant" disabled>Arte</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 pt-4 
            classAllEventsEventContainer">
                <div class="card" onclick="loadLocalView(LOCAL_NAVIGATION_BAR_INDEX.EVENTS)">
                    <img class="card-img-top" 
                    src="./assets/images/events-lemon-rock/lemon-jazz.jpg" 
                    alt="Imagen del evento Lemon Jazz" 
                    aria-label="Imagen del evento Lemon Jazz">
                    <div class="card-body">
                        <h5 class="card-title">Lemon Jazz</h5>
                        <p class="card-text">Lemon Rock - 18:30</p>
                        <div class="card-subtitle row justify-content-start classCategoriesList"
                        aria-label="Categorías de Lemon Rock">
                            <span class="btn btn-sm btn-elegant" disabled>En directo</span>
                            <span class="btn btn-sm btn-elegant" disabled>Jazz</span>
                            <span class="btn btn-sm btn-elegant" disabled>Rock</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="classAllEventsList">
        <h4 class="pt-4 mb-0">Mañana</h4>
        <div class="row">
            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 pt-4 
            classAllEventsEventContainer">
                <div class="card" onclick="loadLocalView(LOCAL_NAVIGATION_BAR_INDEX.EVENTS)">
                    <img class="card-img-top" 
                    src="./assets/images/events-lemon-rock/guillermo-crovetto.jpg" 
                    alt="Imagen del evento Guillermo Crovetto" 
                    aria-label="Imagen del evento Guillermo Crovetto">
                    <div class="card-body">
                        <h5 class="card-title">Taller de pintura - Guillermo Crovetto</h5>
                        <p class="card-text">Lemon Rock - 17:00</p>
                        <div class="card-subtitle row justify-content-start classCategoriesList"
                        aria-label="Categorías de Lemon Rock">
                            <span class="btn btn-sm btn-elegant" disabled>En directo</span>
                            <span class="btn btn-sm btn-elegant" disabled>Indie</span>
                            <span class="btn btn-sm btn-elegant" disabled>Rock</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="idCategoriesFilterContainerInEvents"></div>
<script>
    hideMainMenuBar();
    setIdsInEventsLists(HTML_CLASS_ALL_EVENTS_LIST);
    loadEventsWeekCalendarComponentInHtmlNodeById(HTML_ID_EVENTS_WEEK_CALENDAR_CONTAINER_IN_ALL_EVENTS,
    250);
    loadCategoriesFilterComponentInHtmlNodeById(HTML_ID_CATEGORIES_FILTER_CONTAINER_IN_EVENTS);
</script>