<nav class="navbar navbar-expand fixed-top navbar-dark bg-dark text-white" id="idLocalMenuBar">
    <ul class="navbar-nav w-100 justify-content-between">
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light classRoundNavigationLink" title="Volver atrás" 
            aria-label="Volver atrás" onclick="loadCategoriesOfLocalsView()">
                <i class="fas fa-arrow-left fa-sm"></i>
            </a>
        </li>
        <li class="nav-item pt-2"><h5>Lemon Rock</h5></li>
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light classRoundNavigationLink" 
            title="Más sobre Lemon Rock" aria-label="Más sobre Lemon Rock">
                <i class="fas fa-ellipsis-v fa-sm"></i>
            </a>
        </li>
    </ul>
</nav>
<img class="img-fluid w-100" id="idLocalHeaderImage" src="./assets/images/local-lemon-rock.jpg"
alt="Imagen de Lemon Rock" aria-label="Imagen de Lemon Rock">
<nav class="navbar navbar-expand navbar-light bg-light" id="idLocalNavigationBar">
    <ul class="navbar-nav w-100 nav-justified">
        <li class="nav-item">
            <a class="nav-link waves-effect" title="Información de Lemon Rock" 
            aria-label="Información de Lemon Rock" 
            onclick="loadLocalInfoSubview()">INFO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-effect" title="Eventos de Lemon Rock" 
            aria-label="Eventos de Lemon Rock" 
            onclick="loadLocalEventsSubview()">EVENTOS</a>
        </li>
        <li class="nav-item waves-effect">
            <a class="nav-link" title="Fotografías de Lemon Rock" 
            aria-label="Fotografías de Lemon Rock" 
            onclick="loadLocalPhotosSubview()">FOTOS</a>
        </li>
    </ul>
</nav>
<div class="sticky-top" id="idEventsWeekCalendarContainerInLocal"></div>
<div class="container-fluid" id="idLocalMain"></div>
<script>
    hideMainMenuBar();
    hideMainNavigationBar();
    loadLocalSubviewFromGlobalVarSelectedLocalSubview();
</script>