<nav class="navbar navbar-expand fixed-top navbar-dark bg-dark text-white" 
id="idUserProfileMenuBar">
    <ul class="navbar-nav w-100 justify-content-between">
        <li class="nav-item mx-auto pt-2 pl-3"><h5>Perfil</h5></li>
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light classRoundNavigationLink" 
            title="Más acciones" aria-label="Más acciones">
                <i class="fas fa-ellipsis-v fa-sm"></i>
            </a>
        </li>
    </ul>
</nav>
<button type="button" class="btn text-black-50 waves-effect 
classRoundedTopRightFloatingButton" id="idEditUserProfileButton" 
title="Editar perfil de usuario" aria-label="Editar perfil de usuario">
    <i class="fas fa-pen fa-2x"></i>
</button>
<div class="container-fluid bg-light pt-4 pb-2" id="idUserProfilePictureContainer">
    <img class="mx-auto d-block" src="./assets/images/user-profile-picture.png" 
    alt="Imágen de perfil de usuario" aria-label="Imágen de perfil de usuario"/>
    <p class="text-center pt-3">Nombre de usuario</p>
</div>
<div class="container-fluid pt-3" id="idUserProfileNavigationContainer">
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3">
            <a class="btn btn-block text-left waves-effect shadow-none border-bottom py-3" 
            onclick="loadUserProfileOffersSubview()">
                <i class="fas fa-shopping-cart fa-lg pr-4"></i>Mis ofertas (2)
            </a>
            <a class="btn btn-block text-left waves-effect shadow-none border-bottom py-3" 
            onclick="loadUserProfileSettingsSubview()">
                <i class="fas fa-cog fa-lg pr-4"></i>Ajustes
            </a>
            <a class="btn btn-block text-left waves-effect shadow-none border-bottom py-3" 
            onclick="loadUserProfileHelpSubview()">
                <i class="fas fa-info-circle fa-lg pr-4"></i>Ayuda
            </a>
            <a class="btn btn-block text-left waves-effect shadow-none border-bottom py-3" 
            onclick="loadCategoriesOfLocalsView()">
                <i class="fas fa-power-off fa-lg pr-4"></i>Cerrar sesión
            </a>
        </div>
    </div>
</div>
<script>
    hideMainMenuBar();
</script>