<nav class="navbar navbar-expand fixed-top navbar-dark bg-dark text-white" id="idLocalMenuBar">
    <ul class="navbar-nav w-100 justify-content-between">
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light classRoundNavigationLink" title="Volver atrás" 
            aria-label="Volver atrás" onclick="loadSearchLocalView()">
                <i class="material-icons">arrow_back</i>
            </a>
        </li>
        <li class="nav-item"><h3><small>Lemon Rock</small></h3></li>
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light classRoundNavigationLink" 
            title="Más sobre Lemon Rock" aria-label="Más sobre Lemon Rock">
                <i class="material-icons">more_vert</i>
            </a>
        </li>
    </ul>
</nav>
<img class="img-fluid w-100" id="idLocalHeaderImage" src="./assets/images/local-lemon-rock.jpg" alt="Imagen de Lemon Rock"
aria-label="Imagen de Lemon Rock">
<nav class="navbar navbar-expand navbar-light bg-light" id="idLocalNavigationBar">
    <ul class="navbar-nav w-100 nav-justified">
        <li class="nav-item">
            <a class="nav-link waves-effect" title="Información de Lemon Rock" 
            aria-label="Información de Lemon Rock" 
            onclick="setNavigationItemAsSelectedInNavigationBar(HTML_ID_LOCAL_NAVIGATION_BAR,this); 
            loadLocalInfoSubview();">INFO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-effect" title="Eventos de Lemon Rock" 
            aria-label="Eventos de Lemon Rock" 
            onclick="setNavigationItemAsSelectedInNavigationBar(HTML_ID_LOCAL_NAVIGATION_BAR,this)">EVENTOS</a>
        </li>
        <li class="nav-item waves-effect">
            <a class="nav-link" title="Fotografías de Lemon Rock" 
            aria-label="Fotografías de Lemon Rock" 
            onclick="setNavigationItemAsSelectedInNavigationBar(HTML_ID_LOCAL_NAVIGATION_BAR,this); 
            loadLocalPhotosSubview();">FOTOS</a>
        </li>
    </ul>
</nav>
<div class="container-fluid" id="idLocalMain"></div>
<script>
    hideMainMenuBar();
    hideMainNavigationBar();
    setSelectedNavigationItemInNavigationBar(HTML_ID_LOCAL_NAVIGATION_BAR,0);
    loadLocalInfoSubview();
</script>
<!-- <div class="dropdown">
    <i class="material-icons">access_time</i>
    <button class="btn bg-light text-dark dropdown-toggle" id="idLocalTimetableDropdownButton"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hoy: 09:00 A.M. - 04:00 A.M.
    </button>
    <div class="dropdown-menu" aria-labelledby="idLocalTimetableDropdownButton">
        <span class="dropdown-item">Mañana: 09:00 A.M. - 04:00 A.M.</button>
        <span class="dropdown-item">Lunes: 09:00 A.M. - 03:00 A.M.</button>
        <span class="dropdown-item">Martes: 09:00 A.M. - 03:00 A.M.</button>
    </div>
</div> -->