<nav class="navbar navbar-expand fixed-top navbar-dark bg-dark text-white" id="idLocalMenuBar">
    <ul class="navbar-nav w-100 justify-content-between">
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light classRoundNavigationLink" title="Volver atrás" 
            aria-label="Volver atrás" onclick="loadSearchLocalView()">
                <i class="fas fa-arrow-left fa-sm"></i>
            </a>
        </li>
        <li class="nav-item mr-auto pl-2"><h2><small>Lemon Rock</small></h2></li>
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light classRoundNavigationLink" 
            title="Más sobre Lemon Rock" aria-label="Más sobre Lemon Rock">
                <i class="fas fa-ellipsis-v fa-sm"></i>
            </a>
        </li>
    </ul>
</nav>
<img class="img-fluid w-100" id="idLocalHeaderImage" src="./assets/images/local-lemon-rock.jpg"
alt="Imagen de Lemon Rock" aria-label="Imagen de Lemon Rock">
<nav class="navbar navbar-expand navbar-light bg-light" id="idLocalNavigationBar">
    <ul class="navbar-nav w-100 nav-justified">
        <li class="nav-item">
            <a class="nav-link waves-effect" title="Información de Lemon Rock" 
            aria-label="Información de Lemon Rock" 
            onclick="setNavigationItemAsSelectedInNavigationBar(HTML_ID_LOCAL_NAVIGATION_BAR,this); 
            loadLocalInfoSubview();">INFO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-effect" title="Eventos de Lemon Rock" 
            aria-label="Eventos de Lemon Rock" 
            onclick="setNavigationItemAsSelectedInNavigationBar(HTML_ID_LOCAL_NAVIGATION_BAR,this); 
            loadLocalEventsSubview();">EVENTOS</a>
        </li>
        <li class="nav-item waves-effect">
            <a class="nav-link" title="Fotografías de Lemon Rock" 
            aria-label="Fotografías de Lemon Rock" 
            onclick="setNavigationItemAsSelectedInNavigationBar(HTML_ID_LOCAL_NAVIGATION_BAR,this); 
            loadLocalPhotosSubview();">FOTOS</a>
        </li>
    </ul>
</nav>
<div class="container-fluid" id="idLocalMain"></div>
<script>
    hideMainMenuBar();
    hideMainNavigationBar();
    setSelectedNavigationItemInNavigationBar(HTML_ID_LOCAL_NAVIGATION_BAR,0);
    loadLocalInfoSubview();
</script>