<nav class="navbar navbar-expand fixed-top navbar-dark bg-dark text-white" 
id="idSearchLocalNavigationBar">
    <ul class="navbar-nav w-100 nav-justified">
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light" title="Mapa de locales" 
            aria-label="Mapa de locales" 
            onclick="setNavigationItemAsSelectedInNavigationBar(HTML_ID_SEARCH_LOCAL_NAVIGATION_BAR,this); 
            loadSearchLocalMapSubview();">
                MAPAS
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light" title="Categorías de locales" 
            aria-label="Categorías de locales" 
            onclick="setNavigationItemAsSelectedInNavigationBar(HTML_ID_SEARCH_LOCAL_NAVIGATION_BAR,this); 
            loadSearchLocalCategoriesSubview();">
                CATEGORÍAS
            </a>
        </li>
    </ul>
</nav>
<div class="container-fluid" id="idSearchLocalMain"></div>
<!-- Button to activate modal window for categories filter -->
<button type="button" class="btn btn-mdb-color waves-effect waves-light classRoundedFloatingButton" 
data-toggle="modal" data-target="#idFilterCategoriesModal" data-backdrop="false" title="Filtro de categorías" 
aria-label="Filtro de categorías">
    <i class="fas fa-filter fa-2x"></i>
</button>
<!-- Modal window for categories filter -->
<div class="modal fade" id="idFilterCategoriesModal" tabindex="-1" role="dialog" 
aria-labelledby="idFilterCategoriesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="idFilterCategoriesModalLabel">Filtro de locales</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-center" aria-label="Filtro de locales">
                    <div class="col-12">
                        <span class="btn btn-outline-success waves-effect ml-0 filterOfferButton" 
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.OFFERS,this)" disabled>Ofertas</span>
                    </div>
                    <div class="col-12">
                        <span class="btn btn-warning waves-effect filterEventButton"
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.EVENTS,this)">Eventos</span>
                    </div>
                    <div class="col-12">
                        <span class="btn btn-elegant waves-effect filterCategorieButton" 
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.CATEGORIE,this)">Música en directo</span>
                    </div>
                    <div class="col-12">
                        <span class="btn btn-elegant waves-effect filterCategorieButton" 
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.CATEGORIE,this)" disabled>Pub</span>
                    </div>
                    <div class="col-12">
                        <span class="btn btn-elegant waves-effect filterCategorieButton" 
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.CATEGORIE,this)">Discoteca</span>
                    </div>
                    <div class="col-12">
                        <span class="btn btn-elegant waves-effect filterCategorieButton" 
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.CATEGORIE,this)">Pop</span>
                    </div>
                    <div class="col-12">
                        <span class="btn btn-elegant waves-effect filterCategorieButton" 
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.CATEGORIE,this)" disabled>Rock</span>
                    </div>
                    <div class="col-12">
                        <span class="btn btn-elegant waves-effect filterCategorieButton" 
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.CATEGORIE,this)" disabled>Electrónica</span>
                    </div>
                    <div class="col-12">
                        <span class="btn btn-elegant waves-effect filterCategorieButton" 
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.CATEGORIE,this)" disabled>Alternativo</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success waves-effect">Aplicar</button>
            </div>
        </div>
    </div>
</div>
<script>
    showMainMenuBar();
    showMainNavigationBar();
    setSelectedNavigationItemInNavigationBar(HTML_ID_SEARCH_LOCAL_NAVIGATION_BAR,1);
    loadSearchLocalCategoriesSubview();
</script>