<div class="container-fluid" id="idUserProfileMain">
    <img class="mx-auto d-block" src="./assets/images/user-profile-picture.png" 
    alt="Imágen de perfil de usuario" aria-label="Imágen de perfil de usuario"/>
    <p class="text-center">Nombre de usuario</p>
    <div class="container-fluid">
        <a class="btn waves-effect shadow-none"><i class="fas fa-shopping-cart fa-lg pr-4"></i>Mis ofertas (2)</a>
        <a class="btn waves-effect shadow-none"><i class="fas fa-cog fa-lg pr-4"></i>Ajustes</a>
        <a class="btn waves-effect shadow-none"><i class="fas fa-info-circle fa-lg pr-4"></i>Ayuda</a>
        <a class="btn waves-effect shadow-none"><i class="fas fa-power-off fa-lg pr-4"></i>Cerrar sesión</a>
    </div>
</div>