<!-- Button to activate modal window for categories filter -->
<button type="button" class="btn btn-mdb-color waves-effect waves-light 
classRoundedBottomRightFloatingButton" data-toggle="modal" data-target="#idFilterCategoriesModal" 
data-backdrop="false" title="Filtro de categorías" aria-label="Filtro de categorías">
    <i class="fas fa-filter fa-2x"></i>
</button>
<!-- Modal window for categories filter -->
<div class="modal fade" id="idFilterCategoriesModal" tabindex="-1" role="dialog" 
aria-labelledby="idFilterCategoriesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="idFilterCategoriesModalLabel">Filtro de locales</h5>
                <button type="button" class="close text-light" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center" aria-label="Filtro de locales">
                    <div class="col-8 col-xs-8 col-sm-6 col-md-6 col-lg-6">
                        <span class="btn btn-block btn-outline-warning waves-effect mb-2 filterOffersEventsButton" 
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.OFFERS_EVENTS,this)" disabled>Ofertas</span>
                        <span class="btn btn-block btn-outline-warning waves-effect mb-2 filterOffersEventsButton"
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.OFFERS_EVENTS,this)" disabled>Eventos</span>
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton" 
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.CATEGORIE,this)">Bar de tapas</span>
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton" 
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.CATEGORIE,this)">Música en directo</span>
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton" 
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.CATEGORIE,this)" disabled>Pub</span>
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton" 
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.CATEGORIE,this)">Discoteca</span>
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton" 
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.CATEGORIE,this)" disabled>Pop</span>
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton" 
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.CATEGORIE,this)">Rock</span>
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton" 
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.CATEGORIE,this)" disabled>Electrónica</span>
                        <span class="btn btn-block btn-elegant waves-effect mb-2 filterCategorieButton" 
                        onclick="toggleFilterButton(TYPE_OF_FILTER_BUTTON.CATEGORIE,this)" disabled>Alternativo</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success waves-effect">Aplicar</button>
            </div>
        </div>
    </div>
</div>