<nav class="navbar navbar-expand fixed-top classPrimaryBackgroundColor text-white" id="idCreateEventMenuBar">
    <ul class="navbar-nav w-100 justify-content-between">
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light classRoundNavigationLink" title="Volver atrás"
                aria-label="Volver atrás" onclick="loadAdminPanelView()">
                <i class="fas fa-arrow-left fa-sm"></i>
            </a>
        </li>
        <li class="nav-item pt-2">
            <h5>Crear evento</h5>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-effect waves-light classRoundNavigationLink" title="Más acciones"
                aria-label="Más acciones">
                <i class="fas fa-ellipsis-v fa-sm"></i>
            </a>
        </li>
    </ul>
</nav>
<div class="container-fluid classTertiaryBackgroundColor text-black-50 text-center pt-4 pb-2"
    id="idEditEventPictureContainer">
    <!--<img class="mx-auto d-block" src="" alt="Imágen de evento" aria-label="Imágen de evento" />-->
    <i class="fas fa-camera fa-7x"></i>
    <p class="pt-3">No hay foto</p>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-sm classSecondaryBackgroundColor text-white waves-effect waves-light"
            id="idEditEventPictureButton" title="Editar imágen de evento" aria-label="Editar imágen de evento">
            <i class="fas fa-pen fa-2x"></i>
        </button>
    </div>
</div>
<div class="container py-3" id="idCreateEventMain">
    <form class="needs-validation mx-auto" id="idCreateEventForm" novalidate>
        <div class="form-group">
            <a role="button" class="btn classSecondaryBackgroundColor text-white waves-effect" id="idAddTagsButton"
                title="Añadir etiquetas" aria-label="Añadir etiquetas">Añadir etiquetas</a>
        </div>
        <div class="form-group">
            <label for="idEventName">Qué <span class="text-danger">*</span></label>
            <input class="form-control classOnlyBottomBorderInput" id="idEventName" type="text"
                placeholder="Nombre del evento" required>
        </div>
        <div class="form-group">
            <label for="idEventDescription">En qué consiste</label>
            <textarea class="form-control classOnlyBottomBorderInput" id="idEventDescription" rows="5"
                placeholder="Descripción del evento" required></textarea>
        </div>
        <div class="d-flex mb-4">
            <i class="text-primary fas fa-calendar fa-lg mr-3"></i>
            <div class="w-100">
                <div class="form-group">
                    <label for="idEventStartDateTimeButton">Cuándo empieza <span class="text-danger">*</span></label>
                    <input class="form-control mb-2" id="idEventStartDateTextInput" type="text" placeholder="Fecha"
                        readonly required>
                    <input class="form-control" id="idEventStartTimeTextInput" type="text" placeholder="Hora" readonly
                        required>
                    <button
                        class="btn classSecondaryBackgroundColor text-white waves-effect waves-light w-100 mx-auto mt-3 py-2"
                        type="button" id="idEventStartDateTimeButton" title="Elegir fecha y hora de comienzo"
                        aria-label="Elegir fecha y hora del evento de comienzo">
                        <i class="fas fa-calendar-day fa-lg mr-1"></i>
                    </button>
                </div>
                <div class="form-group">
                    <label for="idEventEndDateTimeButton">Cuándo termina</span></label>
                    <input class="form-control mb-2" id="idEventEndDateTextInput" type="text" placeholder="Fecha"
                        readonly required>
                    <input class="form-control" id="idEventEndTimeTextInput" type="text" placeholder="Hora" readonly
                        required>
                    <button
                        class="btn classSecondaryBackgroundColor text-white waves-effect waves-light w-100 mx-auto mt-3 py-2"
                        type="button" id="idEventEndDateTimeButton" title="Elegir fecha y hora de fin"
                        aria-label="Elegir fecha y hora del evento">
                        <i class="fas fa-calendar-day fa-lg mr-1"></i>
                    </button>
                </div>
            </div>
        </div>
        <label for="idEventPricesContainer">Precios</label>
        <div class="mx-4 mb-3" id="idEventPricesContainer">
            <div class="d-flex">
                <div class="form-group">
                    <label for="idEventTicketPrice">Entrada <span class="text-danger">*</span></label>
                    <input class="form-control classOnlyBottomBorderInput" id="idEventTicketPrice" type="text"
                        placeholder="Precio de la entrada" required>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="idFreeEntranceCheck">
                    <label class="form-check-label" for="idFreeEntranceCheck">
                        Entraba libre
                    </label>
                </div>
            </div>
            <div class="d-flex">
                <div class="form-group">
                    <label for="idEventLongDrinkPrice">Copa</label>
                    <input class="form-control classOnlyBottomBorderInput" id="idEventLongDrinkPrice" type="text"
                        placeholder="Precio de la copa">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="idMaxOrMinLongDrinkPriceCheck">
                    <label class="form-check-label" for="idMaxOrMinLongDrinkPriceCheck">
                        Máx./mín.
                    </label>
                </div>
            </div>
            <div class="d-flex">
                <div class="form-group">
                    <label for="idEventBeerPrice">Cerveza</label>
                    <input class="form-control classOnlyBottomBorderInput" id="idEventBeerPrice" type="text"
                        placeholder="Precio de la cerveza">
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="idMaxOrMinBeerPriceCheck">
                    <label class="form-check-label" for="idMaxOrMinBeerPriceCheck">
                        Máx./mín.
                    </label>
                </div>
            </div>
        </div>
        <div class="d-flex mb-4">
            <i class="text-primary fas fa-map-marker-alt fa-lg mr-3"></i>
            <div class="w-100">
                <div class="form-group">
                    <label for="idEventLocal">Dónde <span class="text-danger">*</span></label>
                    <input class="form-control classOnlyBottomBorderInput" id="idEventLocal" type="text"
                        placeholder="Bar, pub, discoteca o local" required>
                </div>
                <div class="form-group">
                    <label for="idEventAddress">Dirección <span class="text-danger">*</span></label>
                    <input class="form-control classOnlyBottomBorderInput" id="idEventAddress" type="text"
                        placeholder="Dirección del evento" required>
                </div>
            </div>
        </div>
        <button id="idCreateEventButton" type="submit" class="btn btn-lg w-100 btn-default waves-effect mx-auto">
            CREAR EVENTO
        </button>
    </form>
</div>
<script>
    setHtmlBodyBackgroundColor(HTML_CLASS_WHITE_BACKGROUND_COLOR);
    hideMainMenuBar();

    /* TODO -- Refactoring */
    var startDatePicker, startTimePicker;
    var endDatePicker, endTimePicker;
    document.getElementById(HTML_ID_EVENT_START_DATE_TIME_BUTTON).addEventListener("click", function () {
        startDatePicker = getDatePicker();
        startDatePicker.trigger = document.getElementById(HTML_ID_EVENT_START_DATE_TEXT_INPUT);
        startDatePicker.toggle();
        createHtmlDateTimePickerWrapperInHtmlBody();
        showHtmlDateTimePickerWrapper();
        insertHtmlDateTimePickerInHtmlDateTimePickerWrapper(HTML_ID_DATE_PICKER);
        hideHtmlDateTimePickerWrapperOnHtmlDateTimePickerButtonClick(HTML_ID_DATE_PICKER_CANCEL_BUTTON);
    });
    document.getElementById(HTML_ID_EVENT_START_DATE_TEXT_INPUT).addEventListener("onOk", function () {
        startTimePicker = getTimePicker();
        startTimePicker.trigger = document.getElementById(HTML_ID_EVENT_START_TIME_TEXT_INPUT);
        startTimePicker.toggle();
        createHtmlDateTimePickerWrapperInHtmlBody();
        showHtmlDateTimePickerWrapper();
        insertHtmlDateTimePickerInHtmlDateTimePickerWrapper(HTML_ID_TIME_PICKER);
        hideHtmlDateTimePickerWrapperOnHtmlDateTimePickerButtonClick(HTML_ID_TIME_PICKER_CANCEL_BUTTON);
        hideHtmlDateTimePickerWrapperOnHtmlDateTimePickerButtonClick(HTML_ID_TIME_PICKER_OK_BUTTON);
    });
    document.getElementById(HTML_ID_EVENT_START_TIME_TEXT_INPUT).addEventListener("onOk", function () {
        writeDateFromDatePickerToDateTextInput(startDatePicker, HTML_ID_EVENT_START_DATE_TEXT_INPUT);
        writeTimeFromTimePickerToTimeTextInput(startTimePicker, this.id);
        clearHtmlElementValue(HTML_ID_EVENT_END_DATE_TEXT_INPUT);
        clearHtmlElementValue(HTML_ID_EVENT_END_TIME_TEXT_INPUT);
    });
    document.getElementById(HTML_ID_EVENT_END_DATE_TIME_BUTTON).addEventListener("click", function () {
        if (document.getElementById(HTML_ID_EVENT_START_DATE_TEXT_INPUT).value &&
            document.getElementById(HTML_ID_EVENT_START_TIME_TEXT_INPUT).value) {
            endDatePicker = getDatePicker(startDatePicker.time);
            endDatePicker.trigger = document.getElementById(HTML_ID_EVENT_END_DATE_TEXT_INPUT);
            endDatePicker.toggle();
            createHtmlDateTimePickerWrapperInHtmlBody();
            showHtmlDateTimePickerWrapper();
            insertHtmlDateTimePickerInHtmlDateTimePickerWrapper(HTML_ID_DATE_PICKER);
            hideHtmlDateTimePickerWrapperOnHtmlDateTimePickerButtonClick(HTML_ID_DATE_PICKER_CANCEL_BUTTON);
        }
    });
    document.getElementById(HTML_ID_EVENT_END_DATE_TEXT_INPUT).addEventListener("onOk", function () {
        endTimePicker = getTimePicker();
        endTimePicker.trigger = document.getElementById(HTML_ID_EVENT_END_TIME_TEXT_INPUT);
        endTimePicker.toggle();
        createHtmlDateTimePickerWrapperInHtmlBody();
        showHtmlDateTimePickerWrapper();
        insertHtmlDateTimePickerInHtmlDateTimePickerWrapper(HTML_ID_TIME_PICKER);
        hideHtmlDateTimePickerWrapperOnHtmlDateTimePickerButtonClick(HTML_ID_TIME_PICKER_CANCEL_BUTTON);
        hideHtmlDateTimePickerWrapperOnHtmlDateTimePickerButtonClick(HTML_ID_TIME_PICKER_OK_BUTTON);
    });
    document.getElementById(HTML_ID_EVENT_END_TIME_TEXT_INPUT).addEventListener("onOk", function () {
        writeDateFromDatePickerToDateTextInput(endDatePicker, HTML_ID_EVENT_END_DATE_TEXT_INPUT);
        writeTimeFromTimePickerToTimeTextInput(endTimePicker, HTML_ID_EVENT_END_TIME_TEXT_INPUT);
    });
    document.getElementById(HTML_ID_CREATE_EVENT_BUTTON).addEventListener("click", function (event) {
        event.preventDefault();
    });
</script>