<div class="row justify-content-start my-4" id="idLocalViewCategoriesList" aria-label="Categorías de Lemon Rock">
    <span class="btn btn-elegant" disabled>En directo</span>
    <span class="btn btn-elegant" disabled>Jazz</span>
    <span class="btn btn-elegant" disabled>Rock</span>
    <span class="btn btn-elegant" disabled>Terraza</span>
    <span class="btn btn-elegant" disabled>Tapas</span>
    <span class="btn btn-elegant" disabled>Restaurante</span>
</div>
<div aria-label="Descripción de Lemon Rock">
    <p>
        <span class="font-weight-bold" id="idLocalNameInDescription">Lemon Rock</span> es un hostal situado en el centro de Granada conocido por su ambiente relajado y sus conciertos en directo. Cada semana vienen 4 o 5 grupos a tocar música variada que suele oscilar...
    </p>
</div>
<div aria-label="Precios de Lemon Rock">
    <h5 class="font-weight-bold">Precios</h5>
    <p>Entrada: gratuita</p>
    <p>Copa: 6 - 8 €</p>
    <p>Cerveza: 2,40 €</p>
    <p>Chupito: 1,50 €</p>
</div>
<div aria-label="Ubicación de Lemon Rock">
    <h5 class="font-weight-bold">Ubicación</h5>
    <div id="idLocalMapContainer"></div>
</div>
<div class="mt-3" id="idLocalRecommendationContainer" aria-label="Recomienda Lemon Rock">
    <h5 class="font-weight-bold">Recomienda Lemon Rock a tus amigos</h5>
    <div class="row justify-content-around" id="idLocalViewCategoriesList">
        <a class="btn btn-elegant">Whatsapp</a>
        <a class="btn btn-elegant">Facebook</a>
        <a class="btn btn-elegant">Messenger</a>
        <a class="btn btn-elegant">Instagram</a>
    </div>
    <img class="img-fluid w-100" src="./assets/images/local-lemon-rock.jpg" alt="Imagen de Lemon Rock"
    aria-label="Imagen de Lemon Rock">
</div>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcNyXtpE6iOxla32ptV-6SvCcANAmxM50&callback=loadLocalDataInGoogleMapsApi" 
async defer></script> -->
<script>
    loadLocalDataInLeafletApi("Lemon Rock",37.1770273,-3.6045047,17);
</script>