:root {
    --main-menu-bar-height: 56px;
    --main-navigation-bar-height: 71px;
}

.btn {
    text-transform: none;
}

.invisible {
    height: 0 !important;
    width: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

.classRoundNavigationLink {
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-radius: 2rem;
}

.classCategoriesList span {
    border-radius: 2rem;
    cursor: auto;
}

.classCategoriesListInCardBody span {
    padding: 5px 10px !important;
}

.classDescriptionContainer .classDescriptionParagraph.collapse {
    display: block;
    height: 100px;
    overflow: hidden;
}

.classDescriptionContainer .classDescriptionParagraph.collapsing {
    height: 100px;
}

.classDescriptionContainer .classDescriptionParagraph.collapse.show {
    height: auto;
}

.classShowHideDescriptionButton {
    border-radius: 2rem;
}

.classRoundedTopRightFloatingButton {
    position: fixed;
    top: 70px;
    right: 20px;
    padding: 5px 0 0 0;
	width: 55px;
	height: 55px;
    border-radius: 2rem;
    z-index: 1000;
}

.classRoundedBottomRightFloatingButton {
    position: fixed;
    bottom: 70px;
    right: 20px;
    padding: 5px 0 0 0;
	width: 55px;
	height: 55px;
    border-radius: 2rem;
    z-index: 1000;
}

.classFloatingBottomButton {
    position: fixed;
    bottom: 10px;
    right: 0.5%;
    width: 97% !important;
    z-index: 2000;
}

.classHorizontalListRow {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
  
.classHorizontalListCol {
    flex: 0 0 auto;
    cursor: pointer;
}
  
/*@media screen and (max-width: 720px) {
    .classHorizontalListCol .card-body {
        min-height: 150px;
    }
}
@media screen and (min-width: 720px) {
    .classHorizontalListCol .card-body {
        min-height: 195px;
    }
}*/

#idFilterCategoriesModal .modal-content {
    background-color: rgba(0,0,0,0.8) !important;
}

#idFilterCategoriesModal .filterOffersEventsButton, #idFilterCategoriesModal .filterCategorieButton {
    border: 2px solid !important;
    border-radius: 2rem;
}

#idFilterCategoriesModal .filterOffersEventsButton:not([disabled]) {
    color: #2e2e2e !important;
    border: 0 !important;
}

#idFilterCategoriesModal .filterCategorieButton[disabled] {
    background-color: rgba(0,0,0,0) !important;
}

#idFilterCategoriesModal .filterCategorieButton:not([disabled]) {
    color: #2e2e2e !important;
    background-color: white !important;
}

#idEventsWeekCalendarContainerInAllEvents, #idEventsWeekCalendarContainerInLocal {
    top: var(--main-menu-bar-height);
}

#idEventsWeekCalendarNavigationBar a {
    color: black;
    text-decoration: none;
}

#idEventsWeekCalendarNavigationBar a.active {
    color: white;
    background: #1d2124;
    border-radius: 2rem;
}

#idMainNavigationBar a:not(.classSelectedNavigationItem) span {
    visibility: hidden;
}

/* Please keep this margin and do not try to perform with my-* Bootstrap classes */
#idCategoriesOfLocalsMain {
    margin-top: var(--main-menu-bar-height);
    margin-bottom: var(--main-navigation-bar-height);
}

#idMapOfLocalsContainer {
    margin-top: var(--main-menu-bar-height);
    height: calc(100vh - var(--main-menu-bar-height) - var(--main-navigation-bar-height));
}

#idEventsMain {
    margin-top: 40px;
}

#idEditUserProfileButton {
    background-color: white;
}

/* Please keep this margin and do not try to perform with my-* Bootstrap classes */
#idUserProfilePictureContainer {
    margin-top: var(--main-menu-bar-height);
}

#idUserProfilePictureContainer img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

#idUserProfileNavigationContainer {
    margin-bottom: var(--main-navigation-bar-height);
}

#idUserProfileOffersMain {
    margin-top: var(--main-menu-bar-height);
}

#idUserProfileOffersMain img {
    max-width: 92px;
    max-height: 92px;
}

#idUserProfileSettingsMain {
    margin-top: var(--main-menu-bar-height);
}

/* Please keep this margin and do not try to perform with my-* Bootstrap classes */
#idLocalHeaderImage {
    margin-top: var(--main-menu-bar-height);
    max-height: 300px;
}

#idLocalNameInDescription {
    font-size: 120%;
}

#idLocalNavigationBar a {
    border-bottom: 5px solid #e0e0e0;
}

#idLocalNavigationBar a.classSelectedNavigationItem {
    border-bottom: 5px solid !important;
}

#idLocalMapContainer {
    height: 300px;
}

#idLocalRecommendationContainer #idLocalViewSocialButtonsList {
    position: absolute;
    margin-top: 75px;
    background: white;
    z-index: 1;
}

#idLocalRecommendationContainer #idLocalViewSocialButtonsList a {
    border-radius: 10rem;
}

#idLocalRecommendationContainer > img {
    position: relative;
    max-height: 300px;
}